body {
	margin: 0%;
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #b8b8b8;
}

/* .imgAnimation {
	transition: all 1s ease-in-out;
}

.imgAnimation:hover {
	transform: scale(1.2);
} */

.blurBackground {
	filter: blur(3px);
}

/* .typeWritertheme {
	border-right: 3px solid white;
	width: 0ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 10s infinite alternate;
}

@keyframes typewriter {
	0% {
		width: 0ch;
	}

	50% {
		width: 28ch;
	}
} */